@model Someren.Models.Lecturer

@{
    ViewData["Title"] = "Create lecturer";
}

<h4>New User</h4>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mx-4 mt-3">
        <i class="fas fa-exclamation-circle me-2"></i> @TempData["ErrorMessage"]
    </div>
}

<form action="/Lecturers/Create" method="Post">
    <label for="LecturerId">Lecturer ID:</label>
    <input type="number" id="LecturerId" name="LecturerId" class="form-control" required placeholder="12345" value="@Model?.LecturerId" />

    <label for="RoomNumber">Room number:</label>
    <input type="text" id="RoomNumber" name="RoomNumber" class="form-control" required placeholder="A1-01" value="@Model?.RoomNumber" />

    <label for="FirstName">First name:</label>
    <input type="text" id="FirstName" name="FirstName" class="form-control" required placeholder="John" value="@Model?.FirstName" />

    <label for="LastName">Last name:</label>
    <input type="text" id="LastName" name="LastName" class="form-control" required placeholder="Doe" value="@Model?.LastName" />

    <label for="PhoneNumber">Telephone number:</label>
    <input type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" required placeholder="0612345678" value="@Model?.PhoneNumber" />

    <label for="Age">Age:</label>
    <input type="number" min="1" id="Age" name="Age" class="form-control" required placeholder="32" value="@Model?.Age" />

    <p>Does this lecturer have bar duty?</p>
    <input type="radio" id="BarDuty" name="BarDuty" required value="True" />
    <label for="BarDuty">True</label>

    <input type="radio" id="BarDuty" name="BarDuty" required value="False" />
    <label for="BarDuty">False</label> <br/>

    <button type="submit" class="btn btn-primary">Send</button>

</form>

<a href="/Lecturers/Index"> Back to list</a>